$color-bg-dark-primary: #1e1e1e;
$color-bg-dark-secondary: #252526;
$color-border-gray: #3c3c3c;

.mobile-workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-dark-primary;
}

.mobile-toolbar {
  flex-shrink: 0;
  border-bottom: 1px solid $color-border-gray;
  background-color: $color-bg-dark-secondary;
}

.mobile-main {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.mobile-flow-container {
  flex-shrink: 0;
  border-top: 1px solid $color-border-gray;
  background-color: $color-bg-dark-secondary;
}
